<div class="row">
  <div class="col-3">
    <ngb-pagination
      [(page)]="params.page"
      [pageSize]="params.pageSize"
      [collectionSize]="restaurants.count"
      (pageChange)="onPageChange($event)"
    ></ngb-pagination>
  </div>
  <div class="col-9">
    <app-price-range (priceChange)="onPriceChange($event)"></app-price-range>
  </div>
</div>
<div class="row">
  <div class="col-4" *ngFor="let item of restaurants.results">
    <app-restaurant-item [restaurant]="item"></app-restaurant-item>
  </div>
</div>
